name: Auto Merge PR

on:
  pull_request:
    types: [opened, synchronize, reopened]
  pull_request_review: 
    types: [submitted]
  check_suite:
    types: [completed]

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    permissions: 
      pull-requests: write
      contents: write
    
    steps:
      - name: Auto-merge PR
        uses: pascalgn/automerge-action@v0.16.3
        env:
          GITHUB_TOKEN:  ${{ secrets.PAT_TOKEN }}
          MERGE_LABELS: "auto-merge,! work-in-progress"
          MERGE_METHOD: "squash"
          MERGE_COMMIT_MESSAGE: "pull-request-title"
          MERGE_RETRIES: "6"
          MERGE_RETRY_SLEEP: "10000"
